.intro {
    width: 500px;
}

.articleName {
    list-style-type: none;
    color: #c30;
    line-height: 1.6em;
}

.articleName:hover {
    color: skyblue;
}

.fullArticle {
    /* border: solid 1px #ccc; */
    width: 500px;
    padding: 25px;
    display: inline-block;
}

.author {
    font-style: italic;
    font-size: 0.75em;
    margin-bottom: 20px;
}

.articleList {
    /* border: solid 1px #ccc; */
    position: absolute;
    top: 50px;
    left: 575px;
    height: 600px;
    width: 375px;
}

.articleList h3,
.tagList h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    background: #EDF0F2;
    padding: 10px 5px;
    width: 350px;
}

.tagCapsule {
    display: inline-block;
    background: #337AB7;
    color: #fff;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    margin: 5px;
}

.tagCapsule:hover {
    background: darkblue;
}

.articleTags {
    /* border: solid 1px #ccc; */
    /* height: 150px; */
    width: 350px;
    position: absolute;
    top: 400px;
    left: 600px;
}

.articleFrame {
    width: 520px;
    height: 500px;
    border: none;
}