.articleName {
    list-style-type: none;
    color: #337AB7;
    line-height: 1.6em;
}

.articleName:hover {
    color: #DE1B25;
}

.fullArticle {
    /* border: solid 1px #ccc; */
    width: 50%;
    padding-left: 25px;
    float: left;
    margin-bottom: 50px;
}

.author {
    font-style: italic;
    font-size: 0.75em;
    margin-bottom: 20px;
}

.articleList {
    /* border: solid 1px #ccc; */
    /* position: absolute;
    top: 50px; */
    float: right;
    /* height: 600px; */
    width: 425px;
    /* margin-right: 100px; */
}

.articleList h3,
.tagList h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    background: #EDF0F2;
    padding: 10px 5px;
    width: 350px;
}

.tagCapsule {
    display: inline-block;
    background: #337AB7;
    color: #fff;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    margin: 5px;
}

.tagCapsule:hover {
    background: darkblue;
}

.articleTags {
    /* border: solid 1px #ccc; */
    height: 150px;
    width: 350px;
    float: right;
    width: 425px;
    /* position: absolute;
    top: 400px;
    left: 600px; */
}

.articleFrame {
    width: 100%;
    height: 600px;
    border: none;
}


